.example-collapsible {

	&-button {
		display: flex;
		width: 100%;
		margin-top: .5em;
		padding: .5em;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-content: center;
		box-sizing: border-box;
		border: 2px solid transparent;
		outline: none;
		background-color: white;
		text-align: left;

		&:hover,
		&:focus {
			border-color: var(--theme); /* You probably need to change this! */
			color: var(--theme); /* You probably need to change this! */
		}

		&.is-open {
			background-color: var(--theme); /* You probably need to change this! */
			color: white;

			&:hover,
			&:focus {
				border-color: rgba(0,0,0,.5);  /* You probably need to change this! */
			}
		}

		&::after {
			font-size: 1.5em;
			line-height: 1;
			content: "+";
		}

		&.is-open::after {
			content: "–";
		}
	}

	&-panel {
		max-height: 0;
		margin-bottom: .5em;
		overflow: hidden;
		background-color: white;
		transition: max-height .25s ease-out;

		&.is-open {
			max-height: 20em;
		}

		&-content {
			padding: .5em;
		}
	}
}
