.example-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: flex;
	padding: 1em;
	background-color: rgba(0,0,0,.75);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: .25s ease-out;

	&.is-active {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
	}

	&-container {
		width: 100%;
		max-width: 30em;
		margin: auto;
		transform: translateY(-1em) scale(.95);
		background-color: white;
		transition: transform .25s ease-out;
	}

	&.is-active &-container {
		transform: translateY(0) scale(1);
	}

	&-header,
	&-content,
	&-footer {
		padding: .5em 1em;
	}

	&-header {
		background-color: var(--theme);
		color: white;
		font-weight: bold;
		h5 {
			margin: 0;
			font: inherit;
		}
	}

	&-footer {
		background-color: whitesmoke;
		text-align: right;

		button {
			display: inline-block;
			padding: .25em .5em;
			border: none;
			background-color: var(--theme);
			color: white;
		}

		button:hover,
		button:focus {
			background-color: white ;
			color: var(--theme);
		}
	}

	&-trigger {
		display: inline-block;
		padding: 0;
		overflow: hidden;
		border: none;
		background: none;
		color: var(--theme); /* You probably need to change this! */
		text-decoration: underline;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
