.example-collapsible-button {
	display: flex;
	width: 100%;
	margin-top: .5em;
	padding: .5em;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	box-sizing: border-box;
	border: none;
	background-color: white;
	text-align: left;
}
.example-collapsible-button.is-open {
	background-color: var(--theme); /* You probably need to change this! */
	color: white;
}
.example-collapsible-button::after {
	font-size: 1.5em;
	line-height: 1;
	content: "+";
}
.example-collapsible-button.is-open::after {
	content: "–";
}
.example-collapsible-panel {
	max-height: 0;
	margin-bottom: .5em;
	overflow: hidden;
	background-color: white;
	transition: max-height .25s ease-out;
}
.example-collapsible-panel.is-open {
	max-height: 20em;
}
.example-collapsible-panel-content {
	padding: .5em;
}
