:root {
	--theme: #00b074;
}
html.🤘😝 {
	--theme: #b00074;
}

html {
	background-color: white;
	font-size: 62.5%;
}

body {
	margin: 0;
	font: 400 1.8em / 1.5 'Open Sans', sans-serif; color: #556;
}

@media (max-width: 500px) {
	body {
		font-size: 1.6em;
	}
}

@media (min-width: 961px) {
	body {
		padding-left: 20%;
	}
}

a,
button,
.baseline {
	transition: .15s ease-out;
}

button {
	font: inherit;
	cursor: pointer;
}

abbr {
	text-decoration: none;
}

[id='header'] {
	padding: 2.5% 0;
	background: var(--theme) linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.15) 100%);
	color: white;
	transition: background-color .3s ease-in-out;
}


nav {
	margin: 0 0 10%; overflow: auto;
	background-color: #f6f8fa;
}

nav ul {
	list-style: none;
}

nav a {
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	text-decoration: underline;
}

nav > ul > li {
	margin: 1em 0;
}

nav > ul > li > a {
	font-weight: bold;
}

nav ul ul {
	padding-left: 10%;
}

@media (min-width: 961px) {
	nav {
		position: fixed; top: 0; left: 0; bottom: 0; z-index: 3;
		width: 20%; margin: 0; padding: 1% 2%; box-sizing: border-box;
		border-right: 1px solid lightgrey;
	}

	nav > ul {
		padding: 0;
	}
}

h1, h2, h3, h4 {
	margin: .5em 0;
	font-family: 'Roboto Slab'; font-weight: 500;
}

h1 {
	font-size: 3em; line-height: 1.1; text-align: center;
}

h2 {
	font-size: 2.5em; color: var(--theme);
}

h3 {
	display: inline-block; padding: 0 .25em 0 2em;
	background-color: var(--theme);
	font-size: 1.5em; color: white;
}

@media (max-width: 960px) {
	@supports (position: sticky) {
		h3 {
			position: sticky; top: 0; z-index: 2;
		}
	}
}

h4 {
	margin: 1em 0;
	font-size: 1.25em;
}

h2 a,
h3 a,
h4 a {
	position: relative;
	display: inline-block;
	text-decoration: none; color: inherit;
}

h2 a::before,
h3 a::before,
h4 a::before {
	position: absolute; right: 100%;
	display: inline-block; margin-left: -100%;
	content: '#'; opacity: 0; visibility: hidden;
}

h2 a:hover::before,
h2 a:focus::before,
h3 a:hover::before,
h3 a:focus::before,
h4 a:hover::before,
h4 a:focus::before {
	opacity: 1; visibility: visible;
}

a,
.link-like {
	color: var(--theme);
}
a:hover,
.link-like:hover,
a:focus,
.link-like:focus {
	text-decoration: none;
}

.link-like {
	display: inline; padding: 0;
	border: none;
	background: none;
	text-decoration: underline;
}

hr {
	height: 5px; margin: 0 -5vw 0;
	border: none;
	background-color: whitesmoke;
}

section {
	margin: 0 0 10%;
}
section section section {
	margin: 0 0 5%;
}

dl {
	margin: 5% 0;
}

dd {
	margin-left: 1em; margin-bottom: 7.5%;
}

kbd {
	display: inline-block; padding: 0 .25em;
	background: #fcfcfc;
	border: solid 1px #ccc; border-top-color: #ddd; border-bottom-color: #bbb; border-radius: .25em; box-shadow:0 2px 0 #bbb, 0 2px .125em #bbb;
	font-family: monospace, monospace;
}

strong {
	font-weight: 600;
}

footer {
	overflow: auto;
	background-color: var(--theme);
	color: white; text-align: center;
}

footer a {
	color: inherit;
}

.big {
	font-size: 1.25em;
}

pre[class*="language-"],
.demo {
	background: #f6f8fa;
}
:not(pre) > code[class*="language-"] {
	padding: .05em .25em;
	border-radius: .15em;
	background: #f0f2f4;
	word-break: break-word;
}

.demo {
	position: relative;
	padding: 1em; margin: .5em 0;
}

.wrapper {
	max-width: 90rem; margin: 0 auto; padding: 0 5vw;
}

.logo {
	display: block;
}
.logo-switch {
	position: relative;
	display: inline-block; width: 1em; height: 2.5em; margin: 0; padding: .125em; box-sizing: content-box;
	border: 0; outline: 0; border-radius: 1em;
	background-color: white;
	font-size: 1.25em;
	vertical-align: middle;
}
.logo-switch-bullet {
	position: absolute; top: .125em; left: .125em;
	display: block; width: 1em; height: 1em;
	transform: translateY(1.5em);
	border-radius: 50%;
	background-color: var(--theme);
	transition-duration: .15s;
}
.logo-switch.🤘😝 .logo-switch-bullet {
	transform: translateY(0);
}
.logo-text {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.nav-link {
	display: none;
}

@media (max-width: 960px) {
	.nav-link {
		position: sticky; top: 0; z-index: 2;
		display: block; width: .982em; height: .982em; margin: 0 0 -1.5em auto; padding: .25em; overflow: hidden;
		background-color: #f6f8fa;
		font-size: 1.5em; line-height: 1;
	}
	.nav-link:hover,
	.nav-link:focus {
		background-color: var(--theme);
		color: white;
	}
	.nav-link svg {
		fill: currentColor;
	}
	.nav-link svg,
	.nav-link rect {
		transition: transform .15s ease-out;
	}
	.nav-link .top-bar {
		transform-origin: 94px 21px;
	}
	.nav-link .bot-bar {
		transform-origin: 94px 79px;
	}
	.nav-link .mid-bar {
		transform-origin: 6px 50px;
	}

	.nav-link:hover svg,
	.nav-link:focus svg {
		transform: rotate(-90deg);
	}
	.nav-link:hover .top-bar,
	.nav-link:focus .top-bar {
		transform: translateY(29px) rotate(35deg) scale(.6, 1);
	}
	.nav-link:hover .bot-bar,
	.nav-link:focus .bot-bar {
		transform: translateY(-29px) rotate(-35deg) scale(.6, 1);
	}
	.nav-link:hover .mid-bar,
	.nav-link:focus .mid-bar {
		transform: scale(.975, 1);
	}
}

.color-theme {
	color: var(--theme);
}

.text-lg {
	font-size: 1.5em;
}

.text-right {
	text-align: right;
}

.button {
	display: inline-block; padding: .25em .5em; margin: .5em 0;
	border: .125em solid rgba(0,0,0,.25);
	background-color: var(--theme);
	font-size: 1em; color: white; text-decoration: none;
}
.button:hover,
.button:focus {
	background-color: #f6f8fa;
	color: inherit;
}

.button--grey {
	background-color: #f6f8fa;
	color: var(--theme);
}

[id='download'] {
	display: flex; margin: 10% 0;
	flex-flow: row wrap; justify-content: center; align-items: center;
	text-align: center;
}
[id='download'] > * {
	margin: .5em;
	flex: 0 1 15em;
}

.sr-only {
	position: absolute;
	width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0); clip-path: inset(50%);
}

.hidden {
	display: none;
}
